.header {
    background-color: #434242;
    color: #EBECEC;
    display: flex;
    align-items: center;
    font-size: 2rem;
    height: 60px;
    font-weight: 700;
}

.header_text {
    padding-left: 2%;
}