.card {
    border: 1px solid #707070;
    background-color: #FFFFFF;
    color: #707070;
    height: 60px;
    width: 240px;
    padding: 6px 0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.email {
    padding-left: 14px;
}

.name {
    font-weight: 900;
    padding-left: 14px;
}

.form_buttons {
    display: flex;
    justify-content: space-between;
}

.form_right_buttons {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

@media screen and (max-width: 768px) {
    .form_right_buttons {
        flex-direction: row;
    }
}

@media screen and (max-width: 480px) {
    .card {
        border-top: none;
        border-left: none;
        border-right: none;
        height: 40px;
        border-radius: 0;
        width: 100vw;
        flex-direction: column;
    }
}

